
@font-face {
    font-family: "Algerian";
    src: url("/Algerian Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: black;
    color: white;
}



.center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1em;
}


.h1 {
    font-family: "Algerian";
    
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


.list {
    display: flex;
    font-size: 64px;
    gap: 0.25rem;
    
    border-radius: 8px;
    padding: 0.5rem;
    
    width: max-content;
    height: 85px;
}

.list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    
}

.list a .label {
    font-size: 0.9rem;
    color: white;
    transition:transform 0.2s ease, color 0.2s ease;
}


.list a svg {
    color: white;
    transition:transform 0.2s ease, color 0.2s ease;
    cursor: pointer;
    padding: 0.2rem;
}

.list a:hover svg{
    color: darkblue;
    transform: scale(1.2);
}
.list a:hover .label{
    color: darkblue;
    transform: scale(1.2);
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
