#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


.list {
    display: flex;
    justify-content: center;
    font-size: 64px;
    gap: 0.25rem;
}

.list a svg {
    color: white;
    transition: transform 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.list a:hover svg{
    color: purple;
    transform: scale(1.15);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
